.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container label {
  font-size: 14px;
}

.multipleInput {
  display: flex;
  flex-wrap: nowrap;
}

.multipleInput input {
  width: 100%;
}